{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}

<form method="POST">
    <h3 align="center">Add an item to the menu</h3>
    <div class="form-group">
        <label for="name" >Dish Name</label>
        <input
                type="name"
                class="form-control"
                id="name"
                name="name"
                placeholder="ENTER DISH NAME"
        />
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <br />
        $
        <input
                type="price"
                class="currencyinput"
                id="price"
                name="price"
                placeholder="ENTER DISH PRICE"
        />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input
                type="description"
                class="form-control"
                id="description"
                name="description"
                placeholder="ENTER DISH DESCRIPTION"
        />
    </div>

    <div>Gluten Free Availability</div>
    <select class="selectpicker" type="gluten_free" id="gluten_free" name="gluten_free">
        <option>NO</option>
        <option>GLUTEN FREE</option>
    </select>

    <div>Vegan Availability</div>
    <select class="selectpicker" type="vegan" id="vegan" name="vegan">
        <option>NO</option>
        <option>VEGAN</option>
    </select>

    <div>Menu Type</div>
    <select class="selectpicker" type="menu_type" id="menu_type" name="menu_type">
      <optgroup label="DINNER MENU" >
        <option>APPETIZERS</option>
        <option>SALADS</option>
        <option>PIZZAS</option>
        <option>PASTAS</option>
        <option>ENTREES</option>
        <option>SIDES</option>
      </optgroup>

      <option>DESSERT MENU</option>
      <option>AFTER DINNER DRINKS</option>
      <option>COCKTAILS</option>
      <optgroup label="BEER">
        <option>BOTTLE</option>
        <option>DRAFT</option>
      </optgroup>
    </select>


    <br />
    <br />
    <button type="submit" class="btn btn-primary">Add Item</button>
</form>

    <h1 align="center"> DINNER MENU </h1>
        <ul class="list-group list-group-flush" id="items">
            {% set print_once = 1 %}
            {% for menu in ["APPETIZERS", "SALADS", "PIZZAS", "PASTAS", "ENTREES", "SIDES", "DESSERT MENU", "AFTER DINNER DRINKS", "COCKTAILS", "BOTTLE", "DRAFT"] %}
                {% if print_once == 1 %}
                    {% if menu == "DESSERT MENU" %}
                        <h1 align="center"> DESSERTS </h1>
                        {% set print_once = 0 %}
                    {% elif menu == "AFTER DINNER DRINKS" %}
                        <h1 align="center"> AFTER DINNER DRINKS </h1>
                        {% set print_once = 0 %}
                    {% elif menu == "COCKTAILS" %}
                        <h1 align="center"> COCKTAILS </h1>
                        {% set print_once = 0 %}
                    {% elif menu == "BOTTLE" %}
                        <h1 align="center"> BEER </h1>
                        <div align="center">{{ menu }}</div>
                        {% set print_once = 0 %}
                    {% else %}
                        <div align="center">{{ menu }}</div>
                        {% set print_once = 0 %}
                    {% endif %}
                {% endif %}
              {% for item in items %}
                    {% if item.menu_type == menu %}
                      <li class="list-group-item">
                          {{ item.name }}

                          {% if item.gluten_free == "GLUTEN FREE" %}
                            {{ "(GF)" }}
                          {% endif %}

                          {% if item.vegan == "VEGAN" %}
                            {{ "(V)" }}
                          {% endif %}

                          <!--item.price is a float so needs to be converted to string to display $ format-->
                          {% set tmp = "$" + (item.price | string) %}
                          {{ tmp }}
                          <br />
                          {{ item.description }}
                            <br />
                              <a class="nav-item nav-link" href="{{ url_for('views.edit_redirect', id=item.id) }}">Edit Entry</a>
                          <button type="button" class="close" onClick="deleteMenuItem({{ item.id }})">
                                <span aria-hidden="true">&times;</span>
                            </button>
                      </li>
                    {% endif %}
              {% endfor %}
            {% set print_once = 1 %}
            {% endfor %}
        </ul>

{% endblock %}


