<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button id="edit_button_{{ item.id }}" onClick="closeBlueprint({{ item.id }})" class="btn-del" style="float: right;">Close Edit</button>
<form action="/edit-menu-item/{{ item.id }}" method="POST" enctype="multipart/form-data">
    <h3 align="center">Edit menu information</h3>
    <label for="name"><b>Name: <i>{{item.name}}</i></b></label>
    <input
           class="form-control"
           id="name"
           name="name"
           value="{{item.name}}"
           pattern="[a-zaA-Z\s',\.]{2,30}"
           required>
    <label for="price"><b>Price: <i>{{item.price}}</i></b></label>
    <br />
    <b>$</b>
    <input
           class="currencyinput"
           id="price"
           name="price"
           value="{{item.price}}"
           pattern="\d{1,3}(,\d{3})*(\.\d+)"
           required>
    <br />
    <label for="description"><b>Description: <i>{{item.description}}</i></b></label>
    <textarea
                class="form-control"
                id="description"
                name="description"
                pattern="[a-zaA-Z\s',\.]{2,800}"
                required>{{item.description}}</textarea>

    <label for="gluten_free"><b>Gluten Free Availability: <i>{{ item.gluten_free }}</i></b></label>
    <select class="selectpicker selectLength" id="gluten_free" name="gluten_free">
        <option selected>{{ item.gluten_free }}</option>
        {% if item.gluten_free == 'GLUTEN FREE' %}
            <option>NO</option>
        {% else %}
            <option>GLUTEN FREE</option>
        {% endif %}
    </select>
    <br />
    <label for="vegan"><b>Vegan Availability: <i>{{ item.vegan }}</i></b></label>
    <select class="selectpicker selectLength" id="vegan" name="vegan">
        <option selected>{{ item.vegan }}</option>
        {% if item.vegan == 'VEGAN' %}
            <option>NO</option>
        {% else %}
            <option>VEGAN</option>
        {% endif %}
    </select>
    <br />
    <label for="menu_type"><b>Menu Type: <i>{{ item.menu_type }}</i></b></label>
    {% set dinner_menu = ['APPETIZERS', 'SALADS', 'PIZZAS', 'PASTAS', 'ENTREES', 'SIDES'] %}
    {% set other_menus = ['DESSERT MENU', 'AFTER DINNER DRINKS', 'COCKTAILS', 'BEER'] %}
    <select class="selectpicker selectLength" id="menu_type" name="menu_type">
        <optgroup label="DINNER MENU">
            {% for menu_type in dinner_menu %}
                {% if menu_type == item.menu_type %}
                    <option selected>{{ menu_type }}</option>
                {% else %}
                    <option>{{ menu_type }}</option>
                {% endif %}
            {% endfor %}
        </optgroup>
        {% for menu_type in other_menus %}
            {% if menu_type == 'BEER' %}
                <optgroup label="BEER">
                    {% if menu_type == item.menu_type %}
                        <option selected>BOTTLE</option>
                    {% else %}
                        <option>BOTTLE</option>
                    {% endif %}
                    {% if menu_type == item.menu_type %}
                        <option selected>DRAFT</option>
                    {% else %}
                        <option>DRAFT</option>
                    {% endif %}
                </optgroup>
            {% else %}
                {% if menu_type == item.menu_type %}
                    <option selected>{{ menu_type }}</option>
                {% else %}
                    <option>{{ menu_type }}</option>
                {% endif %}
            {% endif %}
        {% endfor %}
    </select>
    <br />
    <label for="file"><b>Item Picture:</b></label>
    <input type="file" id="file" name="file" accept="image/*"/>
    <br />
    {% set tmp = item.name + '.jpg' %}
    <label for="previous_image"><b>Previous Image:</b></label>
    <img id="previous_image" class="img-responsive image" src="{{ url_for('views.send_image', filename=tmp) }}" width="200" height="200">
    <br />
    <button type="submit" class="btn-add">Edit Item</button>
</form>
<br />
</body>
</html>