{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<!-- this page is for the chef to edit a specific item from the menu. It pulls the item's info from the db by the item's
id. It then shows what the previous info was for the item and the old info is overwritten with the new info -->
<!-- this form is to update info in the edit_menu() -->
<!-- it displays current item info in the textarea -->
<form method="POST" enctype="multipart/form-data">
    <h3 align="center">Edit menu information</h3>
    <div>Edit Name: {{item.name}}</div>
    <textarea   type="name"
                class="form-control"
                id="name"
                name="name">{{item.name}}</textarea>
    <div>Edit Price: {{item.price}}</div>
    <textarea   type="price"
                class="form-control"
                id="price"
                name="price">{{item.price}}</textarea>
    <br />
    <div>Edit Description: {{item.description}}</div>
    <textarea   type="description"
                class="form-control"
                id="description"
                name="description">{{item.description}}</textarea>

    <div>Gluten Free Availability: {{ item.gluten_free }}</div>
    <select class="selectpicker" type="gluten_free" id="gluten_free" name="gluten_free">
        <option selected>{{ item.gluten_free }}</option>
        {% if item.vegan == 'GLUTEN FREE' %}
            <option>NO</option>
        {% else %}
            <option>GLUTEN FREE</option>
        {% endif %}
    </select>
    <div>Vegan Availability: {{ item.vegan }}</div>
    <select class="selectpicker" type="vegan" id="vegan" name="vegan">
        <option selected>{{ item.vegan }}</option>
        {% if item.vegan == 'VEGAN' %}
            <option>NO</option>
        {% else %}
            <option>VEGAN</option>
        {% endif %}
    </select>
    <div>Menu Type: {{ item.menu_type }}</div>
    {% set dinner_menu = ['APPETIZERS', 'SALADS', 'PIZZAS', 'PASTAS', 'ENTREES', 'SIDES'] %}
    {% set other_manus = ['DESSERT MENU', 'AFTER DINNER DRINKS', 'COCKTAILS', 'BEER'] %}
    <select class="selectpicker" type="menu_type" id="menu_type" name="menu_type">
        <outgroup label="DINNER MENU">
            {% for menu_type in dinner_menu %}
                {% if menu_type == item.menu_type %}
                    <option selected>{{ menu_type }}</option>
                {% else %}
                    <option>{{ menu_type }}</option>
                {% endif %}
            {% endfor %}
        </outgroup>
        {% for menu_type in other_menus %}
            {% if menu_type == 'BEER' %}
                <optgroup label="BEER">
                    {% if menu_type == item.menu_type %}
                        <option selected>BOTTLE</option>
                    {% else %}
                        <option>BOTTLE</option>
                    {% endif %}
                    {% if menu_type == item.menu_type %}
                        <option selected>DRAFT</option>
                    {% else %}
                        <option>DRAFT</option>
                    {% endif %}
                </optgroup>
            {% else %}
                {% if menu_type == item.menu_type %}
                    <option selected>{{ menu_type }}</option>
                {% else %}
                    <option>{{ menu_type }}</option>
                {% endif %}
            {% endif %}
        {% endfor %}
    </select>
    <br />
    <br />
    <!-- previous picture is displayed too and submitting an img isn't mandatory since every item should already have an img -->
    <div>Item Picture</div>
    <input type="file" name="file" accept="image/*"/>
    <br />
    {% set tmp = item.name + '.jpg' %}
    <div>
        Previous Image:
        <img class="img-responsive" src="{{ url_for('views.send_image', filename=tmp) }}" width="200" height="200">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Edit Item</button>
</form>
<br />

{% endblock %}
