{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<!-- this page is for the chef to edit the menu. They can add an item and the item must have an input for every field or
 the page will refresh and a warning is flashed. Also, item names are supposed to be unique. The chef can delete and
 edit any item. The page refreshes after any change to see the updated menu -->
<!-- form to get info for add_menu_item() -->
<form action="/add-to-menu" method="POST" enctype="multipart/form-data">
    <h1 align="center">Add an item to the menu</h1>
    <div class="form-group">
        <label for="name"><b>Dish Name</b></label>
        <input
                class="form-control"
                id="name"
                name="name"
                placeholder="ENTER DISH NAME"
                pattern="[a-zaA-Z0-9\s',\.]{2,30}"
        />
    </div>
    <div class="form-group">
        <label for="price"><b>Price</b></label>
        <br />
        <b>$</b>
        <input
                class="currencyinput"
                id="price"
                name="price"
                placeholder="ENTER DISH PRICE"
        />
    </div>
    <div class="form-group">
        <label for="description"><b>Description</b></label>
        <input
                class="form-control"
                id="description"
                name="description"
                placeholder="ENTER DISH DESCRIPTION"
                pattern="[a-zaA-Z0-9\s',\.]{2,800}"
        />
    </div>
    <label for="gluten_free"><b>Gluten Free Availability</b></label>
    <select class="selectpicker" id="gluten_free" name="gluten_free">
        <option>NO</option>
        <option>GLUTEN FREE</option>
    </select>
    <label for="vegan"><b>Vegan Availability</b></label>
    <select class="selectpicker" id="vegan" name="vegan">
        <option>NO</option>
        <option>VEGAN</option>
    </select>
    <br />
    <label for="menu_type"><b>Menu Type</b></label>
    <select class="selectpicker" id="menu_type" name="menu_type">
        <optgroup label="DINNER MENU" >
            <option>APPETIZERS</option>
            <option>SALADS</option>
            <option>PIZZAS</option>
            <option>PASTAS</option>
            <option>ENTREES</option>
            <option>SIDES</option>
        </optgroup>
        <option>DESSERT MENU</option>
        <option>AFTER DINNER DRINKS</option>
        <option>COCKTAILS</option>
        <optgroup label="BEER">
            <option>BOTTLE</option>
            <option>DRAFT</option>
        </optgroup>
    </select>
    <br />
    <div><b>Item Picture: </b></div>
    <input type="file" name="file" accept="image/*"/>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Add Item</button>
</form>
<br />
<!-- creates black line around menu -->
<div class="blackLine">
    <br />
    <!-- Since DINNER MENU is the first option I included out of the for loop-->
    <!-- This is one for loop that will create the menu instead of making a for loop for each menu type-->
    <!-- It loops through the menu types and only shows a header for each type once and displays menu item if menu type matches-->
    <h1 class="h1Color" align="center"> DINNER MENU </h1>
    <ul class="list-group list-group-flush" id="items">
        {% set print_once = 1 %}
        {% for menu in ["APPETIZERS", "SALADS", "PIZZAS", "PASTAS", "ENTREES", "SIDES", "DESSERT MENU", "AFTER DINNER DRINKS", "COCKTAILS", "BOTTLE", "DRAFT"] %}
            {% if print_once == 1 %}
                {% if menu == "DESSERT MENU" %}
                    <h1 class="h1Color" align="center"> DESSERTS </h1>
                    {% set print_once = 0 %}
                {% elif menu == "AFTER DINNER DRINKS" %}
                    <h1 class="h1Color" align="center"> AFTER DINNER DRINKS </h1>
                    {% set print_once = 0 %}
                {% elif menu == "COCKTAILS" %}
                    <h1 class="h1Color" align="center"> COCKTAILS </h1>
                    {% set print_once = 0 %}
                {% elif menu == "BOTTLE" %}
                    <h1 class="h1Color" align="center"> BEER </h1>
                    <h4 class="menu_type_color" align="center">{{ menu }}</h4>
                    {% set print_once = 0 %}
                {% else %}
                    <h4 class="menu_type_color" align="center">{{ menu }}</h4>
                    {% if menu == "PIZZAS" %}
                        <p class="menu_type_color" align="center"><i>"ALL PIZZAS ARE HAND TOSSED AND BAKED IN THE WOOD BURNING OVEN"</i></p>
                    {% endif %}
                    {% set print_once = 0 %}
                {% endif %}
            {% endif %}
            <!-- Items are all the menu items, made by headChef -->
            {% for item in items %}
                {% if item.menu_type == menu %}
                    <li class="list-group-item">
                        <div class="container2" >
                            <div class="image">
                                {% set tmp = item.name + '.jpg' %}
                                <img class="img-responsive" src="{{ url_for('views.send_image', filename=tmp) }}" width="200" height="200">
                            </div>
                            <div class="text">
                                <b>{{ item.name }}
                                {% if item.gluten_free == "GLUTEN FREE" %}
                                    <i>{{ "(GF)" }}</i>
                                {% endif %}
                                {% if item.vegan == "VEGAN" %}
                                    <i>{{ "(V)" }}</i>
                                {% endif %}
                                <!--item.price is a float so needs to be converted to string to display $ format-->
                                {% set tmp = "$" + (item.price | string) %}
                                {{ tmp }}</b>
                                <br />
                                <i>{{ item.description }}</i>
                                <!-- shows a button to edit and delete menu item by passing id to corresponding function -->
                                <div style="padding-top: 20px;">
                                    <form action="/delete-menu-item/{{ item.id }}" method="POST">
                                        <button class="btn-del" type="submit">Delete</button>
                                    </form>
                                    <button id="edit_{{ item.id }}"
                                            class="show btn-edit"
                                            onClick="blueprint({{ item.id }})">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div id="hidden_{{ item.id }}" class="only_one" hidden><div class="edit_page">{% include 'edit_page_blueprint.html' %}</div></div>
                    </li>
                {% endif %}
            {% endfor %}
            {% set print_once = 1 %}
        <!-- print once var resets after nested loop goes through all items on the menu -->
        {% endfor %}
    </ul>
    <br />
</div>
<br />
<br />

{% endblock %}


