{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Hello, Welcome to Avanzare!!!</h1>

<h1 align="center"> DINNER MENU </h1>
        <ul class="list-group list-group-flush" >
            {% set DINNER_sub_menus = ["APPETIZERS", "SALADS", "SIDES"] %}
            {% set print_once = 1 %}
            {% for menu in ["APPETIZERS", "SALADS", "PIZZAS", "PASTAS", "ENTREES", "SIDES"] %}
                {% if print_once == 1 %}
                    <div align="center">{{ menu }}</div>
                    {% set print_once = 0 %}
                {% endif %}
              {% for item in items %}
                    {% if item.menu_type == menu %}
                      <li class="list-group-item">
                          {{ item.name }}
                          {{ item.price }}
                          <br />
                          {{ item.description }}
                      </li>
                    {% endif %}
              {% endfor %}
            {% set print_once = 1 %}
            {% endfor %}
        </ul>

<h1 align="center"> COCKTAILS </h1>
        <ul class="list-group list-group-flush" >
          {% for item in items %}
                {% if item.menu_type == "COCKTAILS" %}
                  <li class="list-group-item">
                      {{ item.name }}
                      {{ item.price }}
                      <br />
                      {{ item.description }}
                  </li>
                {% endif %}

          {% endfor %}
        </ul>

<h1 align="center"> BEER </h1>
        <ul class="list-group list-group-flush" >
            {% set BEER_sub_menus = ["BOTTLE", "DRAFT"] %}
            {% set print_once = 1 %}
            {% for menu in BEER_sub_menus %}
                {% if print_once == 1 %}
                    <div align="center">{{ menu }}</div>
                    {% set print_once = 0 %}
                {% endif %}
              {% for item in items %}
                    {% if item.menu_type == menu %}
                      <li class="list-group-item">
                          {{ item.name }}
                          {{ item.price }}
                          <br />
                          {{ item.description }}
                      </li>
                    {% endif %}
              {% endfor %}
            {% set print_once = 1 %}
            {% endfor %}

{% endblock %}


