{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<!-- this page is a personalized user home page where users can view all active and past orders. If an order is active
 then it will not show in past orders. Users can also reorder any order they have previously made and make new edits to
 it. Users can also view all the news that the chef has made. This could be changed to limit how many news posts can show
 up ata time to not clutter the page, or it can be changed to have news be a drop-down menu for each type of news. I
 should change it for there to be a limit or some kind of sort for past orders because if there is a lot of orders it
 can look messy, so adding to the to do list -->
<!-- count how many active orders the user has -->
{% set count = namespace(value=0) %}
{% for order in active_orders %}
    {% set count.value = count.value + 1 %}
{% endfor %}
<h1 align="center">Active Orders for {{ user.first_name }}: {{ count.value }}</h1>
<br />
{% set lst_dates = [] %}
<!-- this loop will display users active orders in reverse from newest to oldest. -->
{% for order in active_orders|reverse %}
    {% set tmp_date = order.date|string %}
    {% set tmp_date = tmp_date[5:7] + '/' + tmp_date[8:10] + '/' + tmp_date[:4] + tmp_date[10:] %}
    <p hidden>{{ lst_dates.append([order.id, tmp_date]) }}</p>
    {% set lst =  [] %}
    <!-- creates a black line around each order -->
    <div class="active_orders" style="width: 100%;">
        <div class="text">
            {% set tmp_tag = order.id|string + '_tag' %}
            <h3 id="{{ tmp_tag }}"></h3>
            {% set tmp_tag_table = 'table_' + order.id|string %}
            <table id="{{ tmp_tag_table }}" style="width:95%">
                <tr>
                    <th>Items</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                <!-- order are displayed with each item name and details showing once and the total of each item -->
                {% for item in order.items %}
                    {% set count = namespace(value=0) %}
                    {% set print_once = 1 %}
                    {% if item.name not in lst %}
                        {% for item_count in order.items %}
                            {% if item.name == item_count.name %}
                                {% set count.value = count.value + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if print_once == 1 %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ count.value }}</td>
                                <!-- convert string price to float -->
                                {% set tmp = (item.price | float) %}
                                <td>{{ "${:,.2f}".format(count.value * tmp) }}</td>
                                <td hidden>{{ item.item_id }}</td>
                            </tr>
                            <br />
                        {% endif %}
                        {% set print_once = 1 %}
                        <div hidden>
                            {{ lst.append(item.name) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </table>
            {% set tmp_tag_taxes = 'displayed_taxes_' + order.id|string %}
            <h3>Taxes: $<p id="{{ tmp_tag_taxes }}" style="display: inline;">{{ order.taxes }}</p></h3>
            {% set tmp_tag_total = 'displayed_total_' + order.id|string %}
            <h3>Total: $<p id="{{ tmp_tag_total }}" style="display: inline;">{{ order.total }}</p></h3>
            {% if order.comment != "" and order.comment is not none %}
                <div>Order Comment: {{ order.comment }}</div>
            {% endif %}
            <br />
            <button onclick="orderAgain({{ order.id }})" class="btn-add">Order Again</button>
            <br />
        </div>
    </div>
    <br />
{% endfor %}
<br />
<button type="button" class="collapsible">News</button>
<div class="content">
<!-- users can view all news posts under corresponding category -->
<ul class="list-group list-group-flush" id="items" style="width: 100%;">
    {% set print_once = 1 %}
    {% for news_type in ["SALE", "NEW ITEM", "IMPORTANT"] %}
        {% if print_once == 1 %}
            <h3 align="center"> {{ news_type }} </h3>
            {% set print_once = 0 %}
        {% endif %}
        {% for news_post in news %}
            {% if news_post.news_type == news_type %}
                <li class="list-group-item">
                    <b>{{ news_post.title }}</b>
                    <br />
                    {{ news_post.text }}
                    <br />
                </li>
            {% endif %}
        {% endfor %}
        {% set print_once = 1 %}
    {% endfor %}
</ul>
<br />
</div>
<!-- count how many orders are not active -->
{% set count = namespace(value=0) %}
{% for order in user.orders %}
    {% if order.is_active != 'Active' %}
        {% set count.value = count.value + 1 %}
    {% endif %}
{% endfor %}
<br />
<br />
<h1>Past Orders: {{ count.value }}</h1>
<!-- show past orders from newest to oldest-->
{% for order in user.orders|reverse %}
    {% if order.is_active != 'Active' %}
        {% set tmp_date = order.date|string %}
        {% set tmp_date = tmp_date[5:7] + '/' + tmp_date[8:10] + '/' + tmp_date[:4] + tmp_date[10:] %}
        {% set lst =  [] %}
        {% set tmp_tags = order.id|string + '_tag' %}
        <p hidden>{{ lst_dates.append([order.id, tmp_date]) }}</p>
        <br />
        <div class="past_orders" style="width: 100%">
            <div class="text">
                <h3 id="{{ tmp_tags }}"></h3>
                <table id="table_{{ order.id }}" style="width:95%">
                    <tr>
                        <th>Items</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    <!-- make a unique list of item names and iterate through it. Will only display item name once before it is added to
                     the unique list. Then count counts how many times that item is in orders items variable and displays it next to the
                      items name -->
                    {% for item in order.items %}
                        {% set count = namespace(value=0) %}
                        {% set print_once = 1 %}
                        {% if item.name not in lst %}
                            {% for item_count in order.items %}
                                {% if item.name == item_count.name %}
                                    {% set count.value = count.value + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if print_once == 1 %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ count.value }}</td>
                                    {% set tmp = (item.price | float) %}
                                    <td>{{ "${:,.2f}".format(count.value * tmp) }}</td>
                                    <td hidden>{{ item.item_id }}</td>
                                </tr>
                                <br />
                            {% endif %}
                            {% set print_once = 1 %}
                            <div hidden>
                                {{ lst.append(item.name) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </table>
                <h3>Taxes: $<p id="displayed_taxes_{{ order.id }}" style="display: inline;">{{ order.taxes }}</p></h3>
                <h3>Total: $<p id="displayed_total_{{ order.id }}" style="display: inline;">{{ order.total }}</p></h3>
                {% if order.comment != "" and order.comment is not none %}
                    <div>Order Comment: {{ order.comment }}</div>
                {% endif %}
                <br />
                <button onclick="orderAgain({{ order.id }})" class="btn-add">Order Again</button>
            </div>
        </div>
    {% endif %}
{% endfor %}

<body onload="loadDates({{ lst_dates|safe }})"></body>
{% include "footer.html" %}
{% endblock %}