{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

{% set count = namespace(value=0) %}
{% for order in active_orders %}
    {% set count.value = count.value + 1 %}
{% endfor %}
<h1 align="center">Active Orders for {{ user.first_name }}: {{ count.value }}</h1>
<div>----------------------------------------------</div>
{% for order in active_orders|reverse %}
    {% set lst =  [] %}

    <table style="width:100%">
            <tr>
                <th>
                    <h3>{{ order.date }}</h3>
                </th>
            </tr>
              <tr>
                  <th>Item</th>
                  <th>Quantity</th>
                  <th>Price</th>
              </tr>
    <!-- make a unique list and iterate throguh it maybe make it from names or maybe from the objects-->
    {% for item in order.items %}
        {% set count = namespace(value=0) %}
        {% set print_once = 1 %}
        {% if item.name not in lst %}
            {% for item_count in order.items %}
                {% if item.name == item_count.name %}
                    {% set count.value = count.value + 1 %}
                {% endif %}
            {% endfor %}
            {% if print_once == 1 %}
                <tr>
                <th>{{ item.name }}</th>
                <th>{{ count.value }}</th>
                {% set tmp = (item.price | int) %}
                <th>{{ "${:,.2f}".format(count.value * tmp) }}</th>
                </tr>

            <br />
            {% endif %}
            {% set print_once = 1 %}
            <div hidden>
            {{ lst.append(item.name) }}
            </div>
        {% endif %}
    {% endfor %}
    </table>

    {% if "${:,.2f}".format(order.taxes) == "$-0.00" %}
       <b>Taxes: $0.00</b>
    {% else %}
        <b>Taxes: {{ "${:,.2f}".format(order.taxes) }}</b>
    {% endif %}
    <!-- This if statement is needed to fix $-0.00 bug when clicking too fast -->
    {% if "${:,.2f}".format(order.total + order.taxes) == "$-0.00" %}
       <h3>Total: $0.00</h3>
    {% else %}
        <h3>Total: {{ "${:,.2f}".format(order.total + order.taxes) }}</h3>
    {% endif %}
    <!-- only show order comment if there is one -->
    {% if order.comment != "" and order.comment is not none %}
        <div>Order Comment: {{ order.comment }}</div>
    {% endif %}
    <a class="nav-item nav-link" href="{{ url_for('views.order_again', id=order.id) }}">Order Again</a>
    <div>----------------------------------------------</div>
{% endfor %}

<h1 align="center">News</h1>
        <ul class="list-group list-group-flush" id="items">
            {% set print_once = 1 %}
            {% for news_type in ["SALE", "NEW ITEM", "IMPORTANT"] %}
                {% if print_once == 1 %}
                    <h3 align="center"> {{ news_type }} </h3>
                    {% set print_once = 0 %}
                {% endif %}
              {% for news_post in news %}
                    {% if news_post.news_type == news_type %}
                      <li class="list-group-item">
                          {{ news_post.title }}

                          <br />
                          {{ news_post.text }}
                          <br />
                      </li>
                    {% endif %}
              {% endfor %}
            {% set print_once = 1 %}
            {% endfor %}
        </ul>

{% set count = namespace(value=0) %}
{% for order in user.orders %}
    {% if order.is_active != 'Active' %}
        {% set count.value = count.value + 1 %}
    {% endif %}
{% endfor %}
<h1>Past Orders: {{ count.value }}</h1>
<!-- show past orders from newest to oldest-->
{% for order in user.orders|reverse %}
{% if order.is_active != 'Active' %}
    {% set lst =  [] %}

    <table style="width:100%">
            <tr>
                <th>
                    <h3>{{ order.date }}</h3>
                </th>
                {% if order.is_active == "Active" %}
                    <th>
                        <div>Status: {{ order.is_active }}</div>
                    </th>
                {% endif%}
            </tr>
              <tr>
                  <th>Item</th>
                  <th>Quantity</th>
                  <th>Price</th>
              </tr>
    <!-- make a unique list and iterate throguh it maybe make it from names or maybe from the objects-->
    {% for item in order.items %}
        {% set count = namespace(value=0) %}
        {% set print_once = 1 %}
        {% if item.name not in lst %}
            {% for item_count in order.items %}
                {% if item.name == item_count.name %}
                    {% set count.value = count.value + 1 %}
                {% endif %}
            {% endfor %}
            {% if print_once == 1 %}
                <tr>
                <th>{{ item.name }}</th>
                <th>{{ count.value }}</th>
                {% set tmp = (item.price | int) %}
                <th>{{ "${:,.2f}".format(count.value * tmp) }}</th>
                </tr>

            <br />
            {% endif %}
            {% set print_once = 1 %}
            <div hidden>
            {{ lst.append(item.name) }}
            </div>
        {% endif %}
    {% endfor %}
    </table>

    <!-- This if statement is needed to fix $-0.00 bug when clicking too fast -->
    {% if "${:,.2f}".format(order.total + order.taxes) == "$-0.00" %}
       <h3>Total: $0.00</h3>
    {% else %}
        <h3>Total: {{ "${:,.2f}".format(order.total + order.taxes) }}</h3>
    {% endif %}
    {% if order.comment != "" and order.comment is not none %}
        <div>Order Comment: {{ order.comment }}</div>
    {% endif %}
    <a class="nav-item nav-link" href="{{ url_for('views.order_again', id=order.id) }}">Order Again</a>
    <div>----------------------------------------------</div>
{% endif %}
{% endfor %}
{% endblock %}