{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

{% set count = namespace(value=0) %}
{% for order in active_orders %}
    {% set count.value = count.value + 1 %}
{% endfor %}
<h1 align="center">Active Orders for {{ user.first_name }}: {{ count.value }}</h1>
<div>----------------------------------------------</div>
{% for order in active_orders %}
    {% for item in order.items %}
        {{ item.name }}
        {% set tmp = "$" + (item.price | string) %}
        {{ tmp }}
        <br />
    {% endfor %}
    {% if "${:,.2f}".format(order.total) == "$-0.00" %}
        <div>Total: $0.00</div>
    {% else %}
        <div>Total: {{ "${:,.2f}".format(order.total) }}</div>
    {% endif %}
    <div>Order Comment: {{ order.comment }}</div>
    <div>----------------------------------------------</div>
{% endfor %}
<h1 align="center">News</h1>

<h1>Past Orders</h1>
{% for order in user.orders %}
    {{ order.date }}
    <br />
    {% for item in order.items %}
    {{ item.name }}
    {% set tmp = "$" + (item.price | string) %}
    {{ tmp }}
    <br />
    {% endfor %}
    {% if "${:,.2f}".format(order.total) == "$-0.00" %}
        <div>Total: $0.00</div>
    {% else %}
        <div>Total: {{ "${:,.2f}".format(order.total) }}</div>
    {% endif %}
    <div>Order Comment: {{ order.comment }}</div>
    <a class="nav-item nav-link" href="{{ url_for('views.order_again', id=order.id) }}">Order Again</a>
    <div>----------------------------------------------</div>
    <br />
{% endfor %}
{% endblock %}