{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}

<!-- this page is for the chef to view active orders and mark them inactive when they have been completed. The chef can
 clear inactive orders by setting there is_active status to "clear." This could be useful for if it is a new day and the
 chef wants to clear the orders from the day before. This could be automated based on order date and right now there is
 no way for the chef to view all past orders that were set to clear. This is a feature I want to add later. I think it
 will have some way to sort through past orders and maybe visualize the data -->
<!-- counts how many active orders -->
{% set count = namespace(value=0) %}
{% for order in active_orders %}
    {% set count.value = count.value + 1 %}
{% endfor %}
<!-- loops through all active orders in reverse from newest to oldest -->
<h1 align="center">Active Orders: {{ count.value }}</h1>
{% for order in active_orders|reverse %}
    <!-- creates black line over each order -->
    <div class="active_orders">
        <div class="text">
            {% set lst =  [] %}
            <table style="width:100%">
                <tr>
                    <th>
                        <b>{{ order.name }}</b>
                        <br />
                        <b>{{ order.date }}</b>
                    </th>
                </tr>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                <!-- make a unique list of item names and iterate through it. Will only display item name once before it is added to
                     the unique list. Then count counts how many times that item is in orders items variable and displays it next to the
                      items name -->
                {% for item in order.items %}
                    {% set count = namespace(value=0) %}
                    {% set print_once = 1 %}
                    {% if item.name not in lst %}
                        {% for item_count in order.items %}
                            {% if item.name == item_count.name %}
                                {% set count.value = count.value + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if print_once == 1 %}
                            <tr>
                                <th>{{ item.name }}</th>
                                <th>{{ count.value }}</th>
                                {% set tmp = (item.price | float) %}
                                <th>{{ "${:,.2f}".format(count.value * tmp) }}</th>
                            </tr>
                            <br />
                        {% endif %}
                        {% set print_once = 1 %}
                        <div hidden>
                            {{ lst.append(item.name) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </table>
            {% if "${:,.2f}".format(order.taxes) == "$-0.00" %}
               <b>Taxes: $0.00</b>
            {% else %}
                <b>Taxes: {{ "${:,.2f}".format(order.taxes) }}</b>
            {% endif %}
            <!-- This if statement is needed to fix $-0.00 bug when clicking too fast -->
            {% if "${:,.2f}".format(order.total + order.taxes) == "$-0.00" %}
               <h3>Total: $0.00</h3>
            {% else %}
                <h3>Total: {{ "${:,.2f}".format(order.total + order.taxes) }}</h3>
            {% endif %}
            <!-- only show order comment if there is one -->
            {% if order.comment != "" and order.comment is not none %}
                <div>Order Comment: {{ order.comment }}</div>
            {% endif %}
            <form action="/deactivate-order/{{ order.id }}" form="POST">
                <button class="btn-del" style="float: none" type="submit">Set Order to Inactive</button>
            </form>
            <br />
        </div>
    </div>
    <br />
{% endfor %}
<!-- count inactive orders -->
{% set count = namespace(value=0) %}
{% for order in inactive_orders %}
    {% set count.value = count.value + 1 %}
{% endfor %}
<h1 align="center">Inactive Orders: {{ count.value }}</h1>
<!-- button to clear inactive orders -->
<form action="/clear-inactive-orders" method="POST">
    <button class="btn-edit" type="submit" style="float: none">Clear Inactive Orders</button>
</form>
<!-- loops through all active orders in reverse from newest to oldest -->
{% for order in inactive_orders|reverse %}
    <!-- creates black line over each order -->
    <div class="past_orders">
        <div class="text">
            {% set lst =  [] %}
            <table style="width:100%">
                <tr>
                    <th>
                        <b>{{ order.name }}</b>
                        <br />
                        <b>{{ order.date }}</b>
                    </th>
                </tr>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                <!-- make a unique list of item names and iterate through it. Will only display item name once before it is added to
                     the unique list. Then count counts how many times that item is in orders items variable and displays it next to the
                      items name -->
                {% for item in order.items %}
                    {% set count = namespace(value=0) %}
                    {% set print_once = 1 %}
                    {% if item.name not in lst %}
                        {% for item_count in order.items %}
                            {% if item.name == item_count.name %}
                                {% set count.value = count.value + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if print_once == 1 %}
                            <tr>
                                <th>{{ item.name }}</th>
                                <th>{{ count.value }}</th>
                                {% set tmp = (item.price | float) %}
                                <th>{{ "${:,.2f}".format(count.value * tmp) }}</th>
                            </tr>
                            <br />
                        {% endif %}
                        {% set print_once = 1 %}
                        <div hidden>
                            {{ lst.append(item.name) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </table>
            {% if "${:,.2f}".format(order.taxes) == "$-0.00" %}
               <b>Taxes: $0.00</b>
            {% else %}
                <b>Taxes: {{ "${:,.2f}".format(order.taxes) }}</b>
            {% endif %}
            <!-- This if statement is needed to fix $-0.00 bug when clicking too fast -->
            {% if "${:,.2f}".format(order.total + order.taxes) == "$-0.00" %}
               <h3>Total: $0.00</h3>
            {% else %}
                <h3>Total: {{ "${:,.2f}".format(order.total + order.taxes) }}</h3>
            {% endif %}
            <!-- only show order comment if there is one -->
            {% if order.comment != "" and order.comment is not none %}
                <div>Order Comment: {{ order.comment }}</div>
            {% endif %}
            </br >
        </div>
    </div>
    <br />
{% endfor %}

{% endblock %}