.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
    border: 0;
}
.navbar-dark {
    background:#CE5B54;
}
.blackLine {
    border:1px solid black;
    border-color: #800000;
    padding: 15px;
}

.container2 {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center
    background-color: #CE9854;
}

.text {
    font-size: 20px;
    padding-left: 40px;
    width: 80%;
}
nav{
    height:150px;
}
.image {
    border: solid;
    border-width: 2px;
    border-color: #800000;
}

.list-group-item {
    background-color: #FADBB4;
}
.menu_type_color {
    background-color: #F4FA99;
}
.h1Color {
    background-color: #FD948E;
}
/* this is used for almost all delete button formatting */
.btn-del {
    background-color: #FA8072;
    color: white;
    padding: 9px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
    border: solid;
    border-width: 1px;
    border-color: red;
    float: right;
}
/* HOVER EFFECTS STOPPED WORKING :( */
/* hover effect for buttons #CD5C5C */
.btn-del:hover, .btn-del:focus {
    background-color: red;
}
/* this is used for almost all edit button formatting */
.btn-edit {
    background-color: #CCCCFF;
    color: black;
    padding: 9px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
    border: solid;
    border-width: 1px;
    border-color: #9d9dfa;
    float: right;
}
/* hover effect for buttons */
.btn-edit:hover, .btn-edit:focus {
    background-color: #9d9dfa;
}
/* this is used for all add to order button formatting */
.btn-add {
    background-color: #a4ebc6;
    color: black;
    padding: 9px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: solid;
    border-width: 1px;
    border-color: #79d1a3;
}
/* hover effect for buttons */
.btn-add:hover, .btn-add:focus {
    background-color: #79d1a3;
}
/* this is used for almost all delete button formatting */
.btn-del-order {
    background-color: #FA8072;
    color: white;
    padding: 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin: 15px;
    border: solid;
    border-width: 1px;
    border-color: #CD5C5C;
}
/* hover effects */
.btn-del-order:hover, .btn-del-order:active {
    background-color: #CD5C5C;
}

.edit_page {
    height: auto;
    width: 100%;
    background-color: #a0ddff;
    border: solid;
    border-width: 1px;
    border-radius: 11px;
    padding: 35px;
}

form > * {
    margin: 10px;
}

input:invalid {
    background-color: lightpink;
}

